.navigation {
    position: relative;
    height: 42px;
    z-index: $navigation-index;

    &__wrapper {
        background: $blue;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        align-items: center;
        padding: 11px 14px;
        justify-content: space-between;
    }


    li,
    p,
    span {
        @extend %primary-navigation;
        color: $white;
        cursor: pointer;
    }

    &__logo {
        height: 25px;
        width: 150px;
    }

    &__icon {
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }

    &__app span,
    &__dealer,
    &__settings span,
    &__sign-up {
        display: none;
    }

    &__app {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile-user {
        border-radius: 50%;
        border: 2px solid $white;
        width: 36px;
        height: 36px;
        // display: none;
    }

    &__logged {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            margin-right: 16px;
        }
    }

    @include when-wider-than(tablet) {
        height: 60px;

        &__app span,
        &__settings span,
        &__dealer,
        &__sign-up {
            display: inline-block;
        }

        &__settings {
            display: flex;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            li {
                display: flex;

                &:nth-child(-n+2) {
                    padding-right: 10px;
                }
            }
        }

        &__log-in {
            padding-left: 10px;
        }

        &__sign-up {
            border-right: 1px solid $white;
            border-left: 1px solid $white;
            padding: 0 10px;
        }
    }
}
