.profile {
    display: none;
    position: relative;

    .show-profile & {
        display: block;
    }

    &__wrapper {
        @extend %navigation-height;
        z-index: $profile-index;
        position: absolute;
        background: $white;
        right: 0;
        overflow: scroll;
        max-width: 304px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        > p {
            @extend %grid;
            line-height: 17px;
            margin: 0;

            a {
                color: $gray;
            }

            &:first-child {
                border-bottom: 1px solid $gray-3;
            }
        }
    }

    &__grid {
        @extend %grid;

        p,
        h3 {
            line-height: 36px;
            margin: 0;
        }

        h3 {
            @extend %header-3;
        }
    }

    &__info {
        padding-top: 5px;
        border-bottom: 1px solid $gray-3;
    }

    &--orange-text {
        color: $orange !important;
    }

    @include when-wider-than(tablet) {
        &__wrapper {
            max-width: 358px;
            height: auto;
        }
    }
}
