.profile {
    display: block;
    right: -400px;
    position: relative;
    transition: .5s right ease;

    .show-profile & {
        @include open-drawer(inherit, 0);
    }

    &__wrapper {
        z-index: $profile-index;
        position: fixed;
        background: $white;
        right: -400px;
        overflow: scroll;
        max-width: 304px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;

        > p {
            @extend %grid;
            line-height: 17px;
            margin: 0;

            a {
                color: $gray;
            }

            &:first-child {
                border-bottom: 1px solid $gray-3;
            }
        }
    }

    .show-profile & {
      .profile__wrapper {
        @include open-drawer(inherit, 0);
      }
    }

    &__grid {
        @extend %grid;

        h3,
        p {
            line-height: 36px;
            margin: 0;
        }

        h3 {
            @extend %header-3;
        }
    }

    &__info {
        padding-top: 5px;
        border-bottom: 1px solid $gray-3;
    }

    &--orange-text {
        color: $orange !important;
    }

    @include when-wider-than(tablet) {
        &__wrapper {
            max-width: 358px;
            height: auto;
        }
    }
}
