body {
    // [TO] - for client demo
    margin: 0;
    background: darken($blue, 30%);
    height: 2000px;
}

%navigation-height {
    margin-top: 0;

    @include when-wider-than(tablet) {
        margin-top: 0;
    }
}
