@mixin open-drawer($left: inherit, $right : inherit) {
    left: $left;
    right: $right;
    transition: .5s all ease;
}

@mixin drop-down-drawer() {
    opacity: 1;
    top: 0;
    transition: .5s all ease;
}
