%body {
    font-family: 'Proxima Nova Rg';
    color: $gray;
    font-size: 14px;
    line-height: 17px;

    @include when-wider-than(tablet) {
        font-size: 15px;
        line-height: 16px;
    }
}

%alert {
    font-family: 'Proxima Nova Rg';
    font-size: 9px !important;
    line-height: 11px !important;
    border-radius: 100%;
    font-weight: bold;
    background: $orange;
    width: 18px;
    height: 18px;
    padding: 4px 0;
    border: 1px solid $blue;
    text-align: center;
}

%link {
    color: $blue;
}

%header-3 {
    font-family: 'Proxima Nova Rg';
    color: $gray;
    font-size: 15px;
}

%grid {
    padding: 20px;

    @include when-wider-than(tablet) {
        padding: 20px 22px;
    }
}

%primary-navigation {
    font-family: 'Proxima Nova Cn Lt';
    color: $white;

    @include when-wider-than(tablet) {
        font-size: 15px;
        line-height: 16px;
    }
}

%primary-button {
    letter-spacing: .3px;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    line-height: 20px;
    padding: 14px 20px;
    color: $white;
    background: $blue;
    text-transform: uppercase;
    border: none;

    @include when-wider-than(tablet) {
        font-size: 15px;
        line-height: 16px;
    }
}
