%body {
    font-family: 'Proxima Nova Rg';
    color: $gray;
    font-size: 14px;
    line-height: 17px;

    @include when-wider-than(large_desktop) {
        font-size: 15px;
        line-height: 16px;
    }
}

%link {
    color: $blue;
}

%header-3 {
    color: $gray;
    font-size: 15px;
    padding-bottom: 11px;
}

%grid {
    padding: 20px;

    @include when-wider-than(large_desktop) {
        padding: 20px 22px;
    }
}

%primary-navigation {
    font-family: 'Proxima Nova Cn Lt';
    color: $white;

    @include when-wider-than(large_desktop) {
        font-size: 15px;
        line-height: 16px;
    }
}

%primary-button {
    letter-spacing: .3px;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    line-height: 20px;
    padding: 14px 20px;
    color: $white;
    background: $blue;
    text-transform: uppercase;
    border: none;

    @include when-wider-than(large_desktop) {
        font-size: 15px;
        line-height: 16px;
    }
}

// %form-title {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(30px);
//     line-height: rem(36px);
//
//     @include when-wider-than(tablet) {
//         font-size: rem(35px);
//         line-height: rem(45px);
//     }
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(50px);
//         line-height: rem(60px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(65px);
//         line-height: rem(74px);
//     }
// }
//
// %large-title {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(30px);
//     line-height: rem(36px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(40px);
//         line-height: rem(50px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(50px);
//         line-height: rem(60px);
//     }
// }
//
// %medium-title {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(18px);
//     line-height: rem(24px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(22px);
//         line-height: rem(28px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(30px);
//         line-height: rem(40px);
//     }
//
//     &--sans {
//         font-family: 'nylic-effra';
//         font-weight: 700;
//         font-size: rem(18px);
//         line-height: rem(24px);
//
//         @include when-wider-than(small_desktop) {
//             font-size: rem(22px);
//             line-height: rem(28px);
//         }
//
//         @include when-wider-than(large_desktop) {
//             font-size: rem(30px);
//             line-height: rem(40px);
//         }
//     }
// }
//
// %small-title {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(18px);
//     line-height: rem(24px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(20px);
//         line-height: rem(26px);
//     }
//
//     &--sans {
//         font-family: 'nylic-effra';
//         font-weight: 700;
//         font-size: rem(18px);
//         line-height: rem(24px);
//
//         @include when-wider-than(small_desktop) {
//             font-size: rem(20px);
//             line-height: rem(26px);
//         }
//     }
// }
//
// %bold-text-1 {
//     font-family: 'nylic-effra';
//     font-weight: 700;
//     font-size: rem(14px);
//     line-height: rem(20px);
//     letter-spacing: rem(0.025px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(15px);
//     }
// }
//
// %large-paragraph {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(20px);
//     line-height: rem(30px);
//
//     @include when-wider-than(tablet) {
//         font-size: rem(22px);
//         line-height: rem(32px);
//     }
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(25px);
//         line-height: rem(35px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(30px);
//         line-height: rem(40px);
//     }
// }
//
// %nlf {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(20px);
//     line-height: 1.2;
//
//     @include when-wider-than(tablet) {
//         font-size: rem(24px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(30px);
//     }
//
//     &--sans {
//         font-family: 'nylic-effra';
//         font-weight: 700;
//         font-size: rem(20px);
//         line-height: 1.2;
//
//         @include when-wider-than(tablet) {
//             font-size: rem(24px);
//         }
//
//         @include when-wider-than(large_desktop) {
//             font-size: rem(30px);
//         }
//     }
// }
//
// %tout {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(24px);
//     line-height: rem(32px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(26px);
//         line-height: rem(34px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(30px);
//         line-height: rem(35px);
//     }
// }
//
// %lg-description {
//     font-family: 'nylic-effra';
//     font-weight: 400;
//     font-size: rem(15px);
//     line-height: rem(20px);
//     letter-spacing: rem(0.025px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(20px);
//         line-height: rem(26px);
//     }
// }
//
// %med-description {
//     font-family: 'nylic-effra';
//     font-weight: 400;
//     font-size: rem(15px);
//     line-height: rem(20px);
//     letter-spacing: rem(0.025px);
// }
//
// %pagination {
//     font-family: 'nylic-effra';
//     font-weight: 700;
//     font-size: rem(15px);
//     line-height: rem(20px);
// }
//
// %url-footnote {
//     font-family: tahoma, arial, helvetica, sans-serif;
//     font-weight: 400;
//     font-size: rem(12px);
//     line-height: rem(20px);
//     letter-spacing: rem(0.025px);
// }
//
// %large-display-numerals {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(44px);
//     line-height: rem(48px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(72px);
//         line-height: rem(80px);
//     }
//
//     &--10 {
//         font-family: 'alda-web-nyl';
//         font-weight: 400;
//         font-size: rem(55px);
//         line-height: rem(60px);
//         letter-spacing: rem(.06px);
//
//         @include when-wider-than(small_desktop) {
//             font-size: rem(90px);
//             line-height: rem(100px);
//         }
//     }
// }
//
// %yrs {
//     font-family: 'nylic-effra';
//     font-weight: 700;
//     font-size: rem(11px);
//     line-height: rem(60px);
//     letter-spacing: rem(.15px);
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(18px);
//         line-height: rem(100px);
//     }
// }
//
// %featured-article-header {
//     font-family: 'alda-web-nyl';
//     font-weight: 400;
//     font-size: rem(24px);
//     line-height: rem(32px);
//
//     @include when-wider-than(tablet) {
//         font-size: rem(24px);
//         line-height: rem(32px);
//     }
//
//     @include when-wider-than(small_desktop) {
//         font-size: rem(30px);
//         line-height: rem(40px);
//     }
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(40px);
//         line-height: rem(50px);
//     }
// }
//
// %primary-navigation {
//     font-family: 'nylic-effra';
//     font-weight: 400;
//     font-size: rem(18px);
//     line-height: rem(26px);
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(22px);
//         line-height: rem(26px);
//     }
// }
//
// %secondary-navigation {
//     font-family: 'nylic-effra';
//     font-weight: 400;
//     font-size: rem(14px);
//     line-height: rem(26px);
//
//     @include when-wider-than(large_desktop) {
//         font-size: rem(16px);
//         line-height: rem(26px);
//     }
// }
//
// %bullets {
//     font-family: 'nylic-effra';
//     font-weight: 400;
//     font-size: rem(15px);
//     line-height: rem(20px);
//     letter-spacing: rem(0.025px);
// }
//
// %body {
//     font-family: 'nylic-effra';
//     font-size: rem(15px);
//     line-height: rem(23px);
//     letter-spacing: rem(0.025px);
//
//     @include when-wider-than(tablet) {
//         font-size: rem(20px);
//         line-height: rem(30px);
//     }
// }
