<section class="menu">
    <div class="menu__wrapper">
        <div class="menu__app">
            <img class="menu__icon" src="/static/images/apps.svg" alt="Title" height="16px" width="16px" />
            <span>My Apps</span>
        </div>
        <a href="/"><img class="menu__logo" src="/static/images/logo.svg" alt="Title" height="16px" width="16px" /></a>
        <div class="menu__controls">
            <ul class="menu__settings">
                <li class="menu__dealer">
                    <img class="menu__icon" src="/static/images/pin.svg" alt="Title" height="16px" width="16px" />
                    <span>Find a Dealer</span>
                </li>
                <li class="menu__sign-up">
                    <span>Sign Up</span>
                </li>
                <li class="menu__log-in">
                    <img class="menu__icon" src="/static/images/profile.svg" alt="Title" height="16px" width="16px" />
                    <span>Log In</span>
                </li>
            </ul>
            <ul class="menu__logged">
                <li>
                    <span>Dunder Mifflin</span>
                    <img class="menu__profile-user" src="/static/images/profile-user.png" alt="Title" height="36px" width="36px" />
                </li>
            </ul>
            <img class="menu__close" src="/static/images/close.svg" alt="Title" height="16px" width="16px" />
        </div>
    </div>
</section>
