<section class="navigation">
    <div class="navigation__wrapper">
        <div class="navigation__app">
            <img class="navigation__icon" src="/static/images/apps.svg" alt="Title" height="16px" width="16px" />
            <span>My Apps</span>
        </div>
        <a href="/"><img class="navigation__logo" src="/static/images/logo.svg" alt="Title" height="16px" width="16px" /></a>
        <ul class="navigation__settings">
            <li class="navigation__dealer">
                <img class="navigation__icon" src="/static/images/pin.svg" alt="Title" height="16px" width="16px" />
                <span>Find a Dealer</span>
            </li>
            <li class="navigation__sign-up">
                <span>Sign Up</span>
            </li>
            <li class="navigation__log-in">
                <img class="navigation__icon" src="/static/images/profile.svg" alt="Title" height="16px" width="16px" />
                <span>Log In</span>
            </li>
        </ul>
        <ul class="navigation__logged">
            <li>
                <span>Dunder Mifflin</span>
                <img class="navigation__profile-user" src="/static/images/profile-user.png" alt="Title" height="36px" width="36px" />
            </li>
        </ul>
    </div>
</section>
