<section class="profile">
    <div class="profile__wrapper">
        <p><a href="#edit-profile" title="edit profile">Edit Profile</a></p>
        <div class="profile__info">
            <div class="profile__grid">
                <h3>Dunder Mifflin</h3>
                <p>Admar Supply Co. <span><a class="profile--orange-text" href="#edit-contact">Edit/Contact</a></span></p>
                <p>Support Cases <span><a href="#update">1 Update</a></span></p>
            </div>
        </div>

        <div class="profile__info">
            <div class="profile__grid">
                <h3>Other Organizations</h3>
                <p>Starfleet Enterprise<span><a class="profile--orange-text" href="#edit-contact"> 1 Support Update</a></span></p>
                <p>Quantum Leap</p>
            </div>
        </div>
        <p><a href="#log-out" title="log out">Log Out</a>
            <p>
    </div>
</section>
