<section class="subscriptions">
    <div class="subscriptions__wrapper">
        <div class="subscriptions__grid">
            <p>Have an account? <a>Log in</a> for a full list of your Topcon apps and services here.</p>
            <h3>Subscriptions</h3>
        </div>
        <div class="subscriptions__cat">
            <h4 class="subscriptions__menu subscriptions__active">myTopcon</h4>
            <ul>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
            </ul>
        </div>

        <div class="subscriptions__cat">
            <h4 class="subscriptions__menu">myTopcon</h4>
            <ul>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
                <li>Topnet Live</li>
            </ul>
        </div>
    </div>
    <% include register-product %>
</section>
